{% extends "scholarship/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<h1>Completed Scholarships</h1>
{% for scholarship in scholarships %}
    

    {% if scholarship.recieved == None %}
    <div class="scholarship">
    <div class="scholarshipName" data-id="{{scholarship.id}}">{{scholarship.scholarship}}</div>
    <div>Deadline: {{scholarship.date}}</div>
    <div>Amount: <b>{{scholarship.amount}}</b></div>
    </div>
    

    <div>Have you recieved this scholarship?</div><button class="yes-btn" data-id="{{scholarship.id}}">Yes</button><button class="no-btn" data-id="{{scholarship.id}}">No</button>
    <br>
    {% endif %}

    
{% endfor %}

<h2><label id="accepted-label">Accepted</label><button id="accepted-button">^</button></h2>
{% for scholarship in scholarships %}
    
    
    {% if scholarship.recieved == True %}
    <div class="accepted-schs" style="display: none;">
    <div class="scholarshipName" id = "id" data-id="{{scholarship.id}}">{{scholarship.scholarship}}</div>
    <div>Deadline: {{scholarship.date}}</div>
    <div>Amount: <b>{{scholarship.amount}}</b></div>
    
    <br>
    </div>
    {% endif %}


{% endfor %}

<br>

<h2><label id="rejected-label">Rejected</label><button id="rejected-button">^</button></h2>
{% for scholarship in scholarships %}
    

    {% if scholarship.recieved == False %}
    <div class="rejected-schs" style="display: none;">
    <div class="scholarshipName">{{scholarship.scholarship}}</div>
    <div>Deadline: {{scholarship.date}}</div>
    <div>Amount: <b>{{scholarship.amount}}</b></div>
    
    <br>
    </div>
    {% endif %}


{% endfor %}


{% endif %}
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const csrftoken = getCookie('csrftoken');
        const acceptedbutton = document.querySelector('#accepted-button')
        const rejectedbutton = document.querySelector('#rejected-button')
        const acceptedScholarships = document.querySelectorAll('.accepted-schs');
        const rejectedScholarships = document.querySelectorAll('.rejected-schs');
        acceptedbutton.onclick = () => {
        acceptedbutton.style.animationPlayState = 'running';
        acceptedScholarships.forEach(div => {
                div.style.display = 'block'
            });
        };
        rejectedbutton.onclick = () => {
        rejectedbutton.style.animationPlayState = 'running';
        rejectedScholarships.forEach(div => {
                div.style.display = 'block'
            });
        };
        document.addEventListener('click', event => {
        const element = event.target;
        if (element.className == "scholarshipName"){
            window.location.href = `/scholarships/${element.dataset.id}`

        }
        else if (element.className == "yes-btn"){
            let id = parseInt(element.dataset.id)
            fetch(`/scholarships/recieved/${id}`, {
                method: 'PUT',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
                body: JSON.stringify({
                    recieved: true,
                })
            })
            .then(response => response.json())
            .then(result => {
                console.log(result);
                window.location.reload();
            });

        }
        else if (element.className == "no-btn"){
            let id = parseInt(element.dataset.id)
            fetch(`/scholarships/recieved/${id}`, {
                method: 'PUT',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
                body: JSON.stringify({
                    recieved: false,
                })
            })
            .then(response => response.json())
            .then(result => {
                console.log(result);
                window.location.reload();
            });

        }
        
        })


        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    })



</script>
{% endblock %}