{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Scholarly{% endblock %}</title>

    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    >

    <link href="{% static 'scholarship/styles.css' %}" rel="stylesheet">

    {% block script %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="{% url 'index' %}">
            Scholarly
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            {% if user.is_authenticated %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'completedview' %}">Completed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'compose' %}">Add</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item mr-3">
                        <span class="badge badge-secondary">
                            {{ user.username }}
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            Log Out
                        </a>
                    </li>
                </ul>

            {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </div>
</nav>

<main class="container py-4">
    {% block body %}{% endblock %}
</main>

</body>
</html>
